body {
	background: #292929;
	text-align: center;
  position: fixed;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 85%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

#main {
  background-color: #3B3B3B;
    box-shadow: 0 0 5px 10px #3B3B3B;
    width: 1310px;
    height: 735px;
    font-size: 60px;
    text-align: center;
    position: relative;
    left: 63px;
    top: 10px;

}

.pxstitle {
  position: relative;
  top: 50px;
  left: 20px;
  font-size: 35px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(400, 400, 400, 0.14)));
  color: #898989;
}

.temppicofme {
  position: relative;
  top: 0px;
  left: -540px;
  top: -40px;

}

.intro {
	position: relative;
	top: 45px;
  left: 20px;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	color: #898989;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 b {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

div.wrapper {
  margin: 20px auto;
  width: 200px;
  position: relative;
  left: -425.7px;
  top: -185px;
}

p {
  font-family: georgia;
  font-size: 1rem;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}

nav.vertical > ul {
  list-style-type: none;
}

nav.vertical > ul > li {
  display: block;
}

nav.vertical > ul > li > a {
  background-color: #616161;
  background-image: -webkit-linear-gradient(135deg, #808080, #333333);
  background-image: -moz-linear-gradient(135deg, #808080, #333333);
  background-image: -o-linear-gradient(135deg, #808080, #333333);
  background-image: linear-gradient(135deg, #808080, #333333);
  border-bottom: 1px solid rgba(255,255,255,.1);
  box-shadow: inset 0 1px 1px #808080, 0 1px 1px #808080;
  color: #000000;
  display: block;
  font-size: .85rem;
  font-weight: 500;
  height: 50px;
  letter-spacing: .5rem;
  line-height: 50px;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-transform: uppercase;
  transition: all .1s ease;
  text-decoration: none;
}

nav.vertical > ul > li > a:hover {
  background-color: rgb(114, 51, 98);
  background-image: -webkit-linear-gradient(150deg, #4A4A4A, #4A4A4A);
  background-image: -moz-linear-gradient(150deg, #4A4A4A, #4A4A4A);
  background-image: -o-linear-gradient(150deg, #4A4A4A, #4A4A4A);
  background-image: linear-gradient(150deg, #4A4A4A, #4A4A4A); 
  color: #FFFFFF;
  cursor: pointer;
}
nav.vertical > ul > li > div {
  background-color: #616161;
}
 
nav.vertical > ul > li > div > ul {
  list-style-type: none;
}

nav.vertical > ul > li > div > ul > li > a {
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgba(0,0,0,.05);
  color: #616161;
  display: block;
  font-size: 1.1rem;
  padding: 10px 0;
  text-decoration: none;
  transition: all 0.15s linear;
}

nav.vertical > ul > li > div > ul > li:hover > a {
  background-color: lightBlue;
  color: rgb(255,255,255);
  padding: 10px 0 10px 50px;
}

.linkedinbutton {
  position: fixed;
}

.aboutparaelement {

  background-color: #000000;
  border-style: solid;
  border-color: #898989;
  position: fixed;
  left: 410px;
  top: 170px;
  width: 880px;
  height: 600px;

}

.abouttext {
    font-size: 13.5px;
    position: fixed;
    width: 830px;
    text-align: center;
    top: 165px;
    left: 432px;
    color: #898989;
}


