<p id="notice"><%= notice %></p>

<body style="background-color:silver">

</br></br></br></br>
<font face="Monaco" size="150" color= "black" style= "margin-left:30%; margin-bottom:0%; position:fixed;">my site</font>

</br></br>

<div style="width: 30%; height: 60%; margin-left: 30%; margin-top:4%; position:fixed;">

	Hey there!</br></br>
	So this is me! This site contains my recent works, and just general updates on what I'm working on. But who is 'me'? My name is David Kroell. I am a Computer Science and Computer Engineering major at Christopher Newport University. If you would like to know more about me, I have an info page where you can find my resume, my Linkedin page as well as a GitHub link for my recent work. If you want to check out my recent accounts of projects, or just news, of what's happening, look at my blog page.</br></br>
	Thank you for Stopping by. Everything is here. To the side of this page is my twitter RSS feed. Please feel free to follow me, and any quick updates I have.

</div> 

<div style='margin-left:70%;top:13%%;;width:25%;position:fixed;'>

  <a class="twitter-timeline" href="https://twitter.com/DKroell" data-widget-id="652967047333343232">Tweets by @DKroell</a> <script>
function func() {
  	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
}
$(document).ready(func());
  </script>

</div>

</body>