<p id="notice"><%= notice %></p>
<body style="background-color:silver">
</br></br>
<p style= "margin-left: 40%;">
  <strong></strong>
  <font face="Monaco" size="150"><b><%= @post.title %></b></font>
</p>

<p style= "margin-left:30%; bottom:60%; width:50%;">
  <%= @post.body %>
</p>

<%= link_to 'Back', posts_path %>
</body>