<p id="notice"><%= notice %></p>

<body style="background-color:silver">

</br></br></br></br>
<font face="Monaco" size="150" color= "black" style= "margin-left:30%; margin-bottom:0%; position:fixed;">whoami</font>

</br></br>

<div style="width: 35%; height: 60%; margin-left: 26%; margin-top:4%; position:fixed;">

	Hey there! </br></br>
	So, this is me. My name is David Kroell. I am a Sophomore College Student at Christopher Newport University studying Computer Science and Computer Engineering. I first got into programming about five years ago. I was hooked immediately. From that point on until this momment, I have dedicated my time to learning more every day about many different languages, as well as tools that I can use in those languages. As a result of this personal initiative, I have taken steps to ensure that I provide myself with the opportunities that allow me to successfully learn every day about new things, and which allow me to be involved in a community of Engineers.</br></br>I am the Secretary of the ACM (Association of Computing Machinery), and the IEEE (Institute of Electronics, and Electrical Engineers) at the University. I also am a deeply involved member of the Unmanned Areal Systems club on campus which is where most of my practical experience comes from. The Unmanned Areal Systems club on campus takes part in the anual AUVSI SUAS Competition in Maryland. Last year we came in 13th place. I work on modules for the Plane we have.</br></br>If you are an Employer, or are just interested in my recent projects, and my credentials, I have my latest Resume posted, as well as a link to my recent projects. Most of which are on GitHub.

</div> 

<p style='position:fixed;margin-left:66%;bottom:70%;'><b>Documents : Resume</b></p>
<div style='border-style:solid;background-color:white; height:19.3%;width:23%; position:fixed;margin-left:65%;bottom:50.8%;'>
	<%= link_to image_tag('pdf_link.png', :style=>'width:100%;height:100%;'), "Resume.pdf", {:style=> 'position: center;'}%>
</div>
<p style='position:fixed;margin-left:66%;bottom:46%;'><b>GitHub : DiZ73</b></p>
<div style='position:static;margin-left:208%;margin-top:60%;'>
	<div data-theme="medium" data-height="318" data-width="400" data-github="DiZ73" class="github-card"></div>
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</div>

</body>